.team {
  background: #fff;

  .team-inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 150px 0px 130px 0px;

    &__title {
      color: #494949;
      font-family: M-B;
      font-size: 45px;

      margin-bottom: 50px;

      text-align: center;
    }

    &__sub-title {
      color: #6a6a6a;
      font-family: "OS-R";
      font-size: 16px;
      line-height: 30px;
      margin-bottom: 80px;
      text-align: center;
      padding: 0 30px;
    }

    &__items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas: "t-i-item1 t-i-item2 t-i-item3 t-i-item4";

      .team-inner__item {
        .team-inner__item-img {
          display: block;
          margin: 0 auto 35px;

        }

        .team-inner__item-name {
          color: #6f6f6e;
          font-family: M-M;
          font-size: 25px;

          margin-bottom: 15px;
          text-align: center;
        }

        .team-inner__item-position {
          color: #6f6f6e;
          font-family: M-M;
          font-size: 18px;
          letter-spacing: -1.09px;

          margin-bottom: 25px;
          text-align: center;
        }

        .team-inner__item-social-icon {
          text-align: center;

          i {
            color: #0087be;
            font-size: 25px;
          }

          i:hover {
            color: #000;
            transform: scale(1.2, 1.2);
            transition: .3s;
          }
        }
      }

      .team-inner__item1 {
        grid-area: t-i-item1;
      }

      .team-inner__item2 {
        grid-area: t-i-item2;
      }

      .team-inner__item3 {
        grid-area: t-i-item3;
      }

      .team-inner__item4 {
        grid-area: t-i-item4;
      }
    }
  }

  @media (max-width: 1230px) {
    .team-inner {
      padding: 100px 0px 80px 0px;

      .team-inner__items {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 465px 465px;
        grid-template-areas: "t-i-item1 t-i-item2""t-i-item3 t-i-item4";
      }
    }
  }

  @media (max-width: 770px) {
    .team-inner {
      padding: 50px 0px 30px 0px;

      .team-inner__items {
        grid-template-columns: 1fr;
        grid-template-rows: 465px 465px 465px 465px;
        grid-template-areas: "t-i-item1""t-i-item2""t-i-item3""t-i-item4";
      }
    }
  }
}