
.icon-linkedin:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-skype:before { content: '\e802'; } /* '' */
.icon-google:before { content: '\e803'; } /* '' */
.icon-at:before { content: '\e804'; } /* '' */
.icon-phone:before { content: '\e805'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-icq:before { content: '\f304'; } /* '' */
.icon-youtube:before { content: '\f313'; } /* '' */